.Choice {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 5px;
    color: #fff;
    list-style: none;
  

    &__item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        background-color: #303030;
        border-bottom: 1px solid #444;
        border-left: 1px solid #444;
        border-right: 1px solid #444;

        &:first-child {
            border-top: 1px solid #444;
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
        }

        &:last-child {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
      
        
        &:hover {
            cursor: pointer;
            background-color: #444;

        }
    }

    @media (max-width: 760px) {
      width: 100%;
      margin-bottom: 5%;
    }
  }

  .li-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #444;
    margin-right: 15px;
    border-radius: 50%;
    transition: .1s;
  }