body {
  background-color: #222;
  overflow-x: hidden;
}


.App {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.Container {
  width: 80%;
  height: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  @media (max-width: 760px) {
    width: 90%;
    flex-direction: column;
  }
}







